//reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//fonts
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

//Main stlyes
.wrapper{
    width: 80%;
    margin: 0 auto;
}

body{
    background-color: hsl(180, 52%, 96%);
    font-family: 'League Spartan', sans-serif;
}
header{
    background-color: hsl(180, 29%, 50%);
    margin-bottom: 4rem;
    & .header-desktop{
        width: 100%;
    }
}
.job-list{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.job-posting{
    background-color: white;
    border-radius: 5px;
    filter: drop-shadow(0px 13px 5px hsla(180, 29%, 50%, 0.516));    // border: red 3px dotted;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    & img{
        margin-right: 1rem;
    }
}
.posting-information{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-basis: 50%;
    width: 50%;
}
.newPill{
    background-color:hsl(180, 29%, 50%) ;
    color:hsl(180, 31%, 95%);
}
.featuredPill{
    background-color: hsl(180, 14%, 20%);
    color: hsl(180, 52%, 96%)
}
.tags{
    display: flex;
    flex-basis: 50%;
    flex-direction: row-reverse;
    gap: .5rem;
    & li{
        background-color: hsl(180, 31%, 95%);
        color:hsl(180, 29%, 50%);
        font-weight: 700;
        display: inline-block;
        list-style: none;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
}
.newPill,.featuredPill{
        font-weight: 500;
        border: none;
        border-radius: 15px;
        padding: 5px 10px;
        margin: 4px 2px;
        text-align: center;
}