@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: hsl(180, 29%, 50%);
  margin-bottom: 4rem;
}
header .header-desktop {
  width: 100%;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.job-list .job-posting {
  background-color: white;
  border-radius: 5px;
  border-left: 0.5rem solid hsl(180, 29%, 50%);
  filter: drop-shadow(0px 13px 5px hsla(180, 29%, 50%, 0.516));
  list-style: none;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
}
.job-list .job-posting .tagParent {
  display: flex;
  flex-basis: 50%;
  flex-direction: row-reverse;
  gap: 0.5rem;
}
.job-list .job-posting .tagParent .tagChild {
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  display: inline-block;
  list-style: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: ease-in-out 0.15s;
}
.job-list .job-posting .tagParent .tagChild:hover {
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 31%, 95%);
}
.job-list .job-posting img {
  margin-right: 1rem;
}
.job-list .job-posting .posting-information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-basis: 50%;
  width: 75%;
}
.job-list .job-posting .posting-information .date-locale {
  width: 50%;
  list-style-type: disc;
  display: flex;
  gap: 1.5rem;
  opacity: 60%;
}
.job-list .job-posting .posting-information .date-locale li {
  margin-left: 1rem;
}

.newPill {
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 31%, 95%);
}

.featuredPill {
  background-color: hsl(180, 14%, 20%);
  color: hsl(180, 52%, 96%);
}

.newPill, .featuredPill {
  font-weight: 500;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 4px 2px;
  text-align: center;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

body {
  background-color: hsl(180, 52%, 96%);
  font-family: "League Spartan", sans-serif;
}

main {
  margin-bottom: 5rem;
}

.filtered-section {
  display: none;
  flex-wrap: wrap;
  background-color: white;
  padding: 1% 0;
  margin-bottom: 1.5rem;
}
.filtered-section .tagContainerDiv {
  position: relative;
}
.filtered-section .tagContainerDiv .tags {
  position: relative;
  text-align: center;
  flex-basis: 5%;
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 15px 15px;
  transition: 0.25s linear;
  z-index: 2;
  cursor: pointer;
}
.filtered-section .tagContainerDiv .tags:hover {
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 31%, 95%);
  border-radius: 5px 0px 0px 5px;
}
.filtered-section .tagContainerDiv div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  transition: transform 0.25s ease;
  background-color: hsl(180, 31%, 95%);
  padding: 2px;
  border-radius: 5px;
  height: 2rem;
  z-index: -1;
}
.filtered-section .tagContainerDiv div img {
  width: 1.25rem;
}
.filtered-section .tagContainerDiv:hover div {
  transform: translateX(-19px);
  z-index: 1;
  cursor: pointer;
}
.filtered-section .tagContainerDiv:hover .tags {
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 31%, 95%);
}

.filtered-tags {
  display: flex;
  flex-wrap: wrap;
}

button {
  font-weight: 600;
  color: hsl(180, 29%, 50%);
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: 2%;
}

button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  background: hsl(180, 29%, 50%);
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
}

button:hover::after {
  transform: scale(1, 1);
  transition: transform ease-in-out 0.2s;
}

:hover:before {
  transform: scaleX(1);
}

.active {
  display: flex;
}

/* SmartPhoens to Tablets */
@media only screen and (max-width: 1250px) {
  .job-list {
    padding-top: 1.5rem;
    gap: 4rem;
  }
  .job-list .job-posting {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: 4rem;
  }
  .job-list .job-posting .posting-information .date-locale {
    width: 100%;
    gap: 1rem;
  }
  .job-list .job-posting .tagParent {
    border-top: 1px solid rgba(0, 0, 0, 0.307);
    padding-top: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .job-list .job-posting img {
    margin-right: 1rem;
    position: absolute;
    top: -10%;
    width: 4.5rem;
  }
}
/* EXTRA SMALL *//*# sourceMappingURL=styles.css.map */